@media  (max-width:768px) and (min-width:415px) {


    .item-1{position: fixed;
        width: 100%;
        height: 40px;
        
        background-color:white;
        box-shadow: 10px 0px 10px 0px gray;
    }
    
    
    
    .checkbtn{position: absolute;
        right: 0;
        font-size: 1.4rem;
        padding: 7px;
    margin: 0px 30px;
    display: none;}
    
    .logo{
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 20px;
    
    }
    
    .ul-1{position: absolute;
    right: 80px;
    
    text-transform: uppercase;
    top: 0;
    }
    
    .li-1{
    display: inline-block;}
    
    #li-1{color: black;
        text-decoration: none;
    margin: 0px 15px;}

    #li-1:hover{
        color: red;
        text-decoration: underline;
    }
    
    .cart{display: inline-block;}
    
    #icon{margin: 0px 10px;}
    
    #check{display: none;}
    
    
    
    
    
    .item-2::before{content: '';
        position: absolute;
        top: 70px;
        margin: 0px;
        background: url(/image/2.jpg)no-repeat center center/cover;
        width: 100vw;
        height: 450px;
        opacity: 8;
        z-index: -1;}
    
        .content{color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
    
    .h6{text-align: center;
        line-height: 40px;
        margin-top: 120px;
    font-size: 1.4rem;}
    
    .i2h1{text-align: center;
        font-size: 3rem;}
    
        .i2p{font-size: 1.4rem;
            line-height: 40px;
            padding: 20px;
        text-align: center;}
    
        .i2b{display: flex;
            align-items: center;
            justify-content: center;}
    
        .i2btn{background-color: white;
            border: 2px solid white;
        color: black;margin: 10px;
        padding: 10px;
    font-size: 1rem;
    }
    
    
    
    
    
    
    
    .item-3{
        flex-wrap: wrap;
        margin: 200px 0px 0px 0px;
            }
        
            .i3h1{text-align: center;
                margin: 15px;
                font-size: 1.8rem;}
            
                .i3p{font-size: 1rem;
                    color: rgb(59, 59, 59);
                text-align: center;}
        
                .i3li{text-align: center;
                margin: 20px;
            text-decoration: underline grey;}
        
                .i3a{color: rgb(224, 88, 88);
                    
                }
        
        
        
        
        
            /* .item-4{
        
                } */
        
                .ih6{text-align: center;margin: 20px;
                    line-height: 40px;
                color:black;
                font-size: 1rem;}
        
                hr{
                    width: 150px;display: block;
                    
                    margin-left: auto;
                    margin-right: auto;
                    border-style: inset;
                    border-width: 1px;
                  }
        
               
        
                .page-1{display: flex;
                    flex-wrap: wrap;
                align-items: center;
            justify-content: center;}
        
                .i4box1{
                    margin: 20px;
                    width: 400px;
                }
        
                .img4{display: flex;
                    border-radius: 10px;
                    width: 400px;
                    height: 400px;
            margin: 0px auto;}
        
                .i4h6{text-align: center;
                    margin: 15px;
                    line-height: 10px;
                color:grey;
                font-size: 1rem;}
        
                .i4h6:hover{color: black;}
        
                .i4li{text-align: center;
                    color: black;
                    margin: 10px;
                }
        
                
        
                .i4box2{
                    width: 400px;
                    margin: 20px;
            }
        
                .item-5{
                    width: 100%;
                    
        
                }
        
                .i5box1{
                    margin: 20px;
                    width: 300px;
                }
        
                .img5{display: flex;
                    width: 300px;
                    height: 400px;
                    border-radius: 10px;
            margin: 0px auto;}
        
                .i5h6{text-align: center;
                    margin: 15px;
                    line-height: 10px;
                color:grey;
                font-size: 1rem;}
        
                .i5h6:hover{color: black;}
        
                .i5li{text-align: center;
                    
                    margin: 10px;
                }
        
                .i3a:hover{color: red;}
                
        
                    .i5box3{
                        margin: 20px;
                        width: 300px;
                    }
                    .i5box2{
                        width: 300px;
                        margin: 20px;
                }
            
        
                    .item-6{margin: 20px;
        
                }
        
                        .item-7{margin: 20px;
        
                        }
        
                        
                            /* .item-8{
                                
        } */
        
                                .hr{
                                    width: 350px;display: block;
                                    
                                    margin-left: auto;
                                    margin-right: auto;
                                    border-style: inset;
                                    border-width: 1px;
                                  }
                                  .page-2{display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
        
                                  .i8box1{ 
                                    display: flex;
                                    flex-wrap: wrap;
                                margin: 10px;}
                                .div1{margin: 10px auto;}
        
                                .div2{margin: 10px auto;
                                    
                                }
        
                                .img8{width: 250px;
                                height: 200px;}
        
                                .img88{width: 200px;
                                    height: 100px;}
        
        
                                
                                  .i8box2{
                                margin: 80px;}
        
                                  
        
                                  .i8h6{
                                    margin: 20px;
                                font-size: 1rem;
                            color: grey;}
        
                            .i8h1{font-size: 1.5rem;
                            margin: 20px;}
        
                            .i8p{font-size: 0.9rem;
                            color: grey;}
        
                            .i88btn{margin: 10px;}
        
                .i8btn{padding: 10px;
                margin: 10px;
                background-color: black;
                color: white;
                border: 2px solid black;
            }
                                
        
        
        
                                .item-9{background-color:black;
                            
        
                                }
        
                                .content-2{color: white;
                                    padding: 30px 0px 0px 0px;
                                    }
                                
                                .i9h6{text-align: center;
                                    color: grey;
                                    line-height: 50px;
                                font-size: 1rem;}
                                
                                .i9h1{text-align: center;
                                    font-size: 2rem;
                                line-height: 80px;}
                                
                                    
                                
                                    .i9b{display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 0px 0px 30px 0px;}
                                
                                    .i9btn{background-color: white;
                                        border: 2px solid white;
                                    color: black;margin: 10px;
                                    padding: 8px 10px;
                                font-size: 1rem;
                                
                                }
                                
        
                                .input{width: 230px;
                                    text-transform: uppercase;
                                    
                                    padding: 8px 20px;
                                    color: white;
                                    background-color: black;
                                    border: 1px solid white;
                                height: 20px;}
              .item-10{
                background-color:wheat;
                display: flex;
                align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        
            .section1{width: 400px;
            margin: 20px;padding: 10px;}
        
            .h4c{text-align: center;
            line-height: 20px;
        margin: 10px;}
        
        .h5{text-align: center;
            color:gray;
            line-height: 20px;
        margin: 10px;}
        
        .p10{font-size: 1rem;
            text-align: center;
            color: grey;
        line-height: 20px;}
        
        
            .section2{width: 200px;
                
                padding: 10px;
                
                margin: 20px;}

                .h4c1{
                    line-height: 20px;
                margin: 10px;}

                .c4{color: grey;
                line-height: 20px;}
        
                .c4:hover{color:black;}
    
                @media (max-width:1151px){
                    .checkbtn{display:block;
                    }
                   
                    .ul-1{position: fixed;
                        display: block;
                    width: 100vw;
                height: 100vh;
                background-color: rgb(211, 191, 230);
                top: 40px;
                right: -100vw;
                text-align: center;
                transition: all .5s ease-in-out; }
                
                nav .ul-1 .li-1 {display: block;margin: 40px 0px;
                line-height: 30px;
                }
                nav .ul-1 .li-1 #li-1{font-size: 1rem;
                    display: block;
                }
                
                #li-1:hover{background:none;
                color:gray;}
                #check:checked ~ .ul-1{right: 0;}
                
                #check:checked ~ .checkbtn i::before {content: "\f00d";
                    
                }
                
                }
                
            }
        
              
            
            